body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  
  

}

.form input {
  padding:10px 50px;
  font-size: 1.4vw;
  text-align: center;
  border-radius: 2px;

}

.form button {
  padding:10px 15px;
  background-color: green;
  color:white;
  font-weight: bold;
  font-size: 1.3vw;
  border-radius: 3px;
}

.todoList-container{
  width:50%;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item{
  width:80%;
  padding:0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-completed {
  background-color: green;
  color:white;
  border:1px solid gray;
  padding:5px;
  border-radius: 3px;
}

.todo-pending {
  background-color: red;
  color:white;
  border:1px solid gray;
  padding:5px;
  border-radius: 3px;
}

.toggle-btn{
  padding:5px 10px;
  background-color:rgb(255, 230, 0);
  border-radius: 4px;
}


.note-form {
  width:50%;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-lists{
  width: 50%;
  margin: 5rem auto 0 auto;
}

.note-item{
  width:90%;
  padding: 5px 10px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

